html, body, #view {
    height: 100%;
    padding: 0;
    margin: 0;
}

#view{
    background: rgba(0,0,0,0.21);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mimic {
    flex: 1;
    height: 100%;
    width: 100%;
}

/*svg {*/
/*border: 1px solid rgba(0,0,0,0.21);*/
/*}*/